* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0px 15px;
  background-color: #816ab9;
  color: #f4f4f4;
  margin-bottom: 15px;
}
.header .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo__container .logo {
  width: 43px;
  height: 40px;
  margin-right: 6px;
}
.header .notifications__container i {
  font-size: 26px;
}

.profile__data {
  background-color: #ffffff;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2196078431);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.profile__data .money__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
.profile__data .money__container .account__balance {
  display: flex;
  flex-direction: column;
}
.profile__data .money__container .account__balance .account {
  font-size: 13px;
  color: #a0a0a0;
}
.profile__data .money__container .account__balance .balance {
  margin-top: 5px;
  font-size: 25px;
  color: #282828;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.profile__data .money__container .account__balance .balance .pennys {
  font-size: 17px;
  position: absolute;
  top: 0;
}
.profile__data .money__container .eye__container {
  align-self: flex-end;
  margin-bottom: 10px;
}
.profile__data .money__container .eye__container .logo {
  width: 30px;
  height: 25px;
  margin-right: 2px;
}
.profile__data .options__container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__data .options__container .options__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile__data .options__container .options__item img {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
.profile__data .options__container .options__item p {
  text-align: center;
  font-size: 14px;
  color: rgba(40, 40, 40, 0.8431372549);
  line-height: 1.2em;
}

.transactions__container {
  margin: 30px 18px;
}
.transactions__container .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.transactions__container .text .title {
  color: rgba(40, 40, 40, 0.9450980392);
  font-weight: 600;
  margin-left: 8px;
  font-size: 15px;
}
.transactions__container .text .highlighted {
  color: #816ab9;
}
.transactions__container .cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.transactions__container .cards__container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transactions__container .cards__container .card img {
  width: 60px;
  height: 60px;
}
.transactions__container .cards__container .card p {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.8431372549);
  margin-top: 5px;
  text-align: center;
  line-height: 1.2em;
}

.faq {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2196078431);
  margin: 25px 15px;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq .text .title {
  font-size: 15px;
  color: rgba(40, 40, 40, 0.9450980392);
  margin-bottom: 2px;
  font-weight: 600;
}
.faq .text .description {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.8431372549);
  line-height: 1.2em;
}
.faq img {
  width: 60px;
  height: 60px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.3rem;
  padding: 0px 15px;
  background-color: #f4f4f4;
  color: rgba(40, 40, 40, 0.8431372549);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2196078431);
  margin-top: 25px;
}
.footer i {
  font-size: 26px;
}
.footer .squares__container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #816ab9;
  transform: translateY(-13px);
  padding: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.footer .squares__container::before {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  background-color: rgba(128, 106, 185, 0.7725490196);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.footer .squares__container .square {
  width: 12px;
  height: 12px;
  border: 3px solid rgba(255, 255, 255, 0.6862745098);
  border-radius: 2px;
}/*# sourceMappingURL=style.css.map */